<!-- https://material.angular.io/components/table/overview -->
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)">
</mat-form-field>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="index">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let entry; let i = index;">{{i + 1}}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
    <td mat-cell *matCellDef="let entry">
      <div class="country">
        <img class="country-flag" src="{{entry.countryInfo.flag}}">
        <span class="country-name">{{entry.country}}</span>
      </div>
    </td>
    <td mat-footer-cell *matFooterCellDef> World </td>
  </ng-container>

  <ng-container matColumnDef="cases">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cases Total </th>
    <td mat-cell *matCellDef="let entry"> {{entry.cases}} </td>
    <td mat-footer-cell *matFooterCellDef> {{worldStats.cases}} </td>
  </ng-container>

  <ng-container matColumnDef="todayCases">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cases Today </th>
    <td mat-cell *matCellDef="let entry"> {{getTodayCases(entry)}} </td>
    <td mat-footer-cell *matFooterCellDef> {{getTodayCases(worldStats)}} </td>
  </ng-container>

  <ng-container matColumnDef="deaths">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Deaths Total </th>
    <td mat-cell *matCellDef="let entry"> {{entry.deaths}} </td>
    <td mat-footer-cell *matFooterCellDef> {{worldStats.deaths}} </td>
  </ng-container>

  <ng-container matColumnDef="todayDeaths">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Deaths Today </th>
    <td mat-cell *matCellDef="let entry" class="deaths-today"> {{getTodayDeaths(entry)}} </td>
    <td mat-footer-cell *matFooterCellDef> {{getTodayDeaths(worldStats)}} </td>
  </ng-container>

  <ng-container matColumnDef="active">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
    <td mat-cell *matCellDef="let entry"> {{entry.active}} </td>
    <td mat-footer-cell *matFooterCellDef> {{worldStats.active}} </td>
  </ng-container>

  <ng-container matColumnDef="recovered">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Recovered </th>
    <td mat-cell *matCellDef="let entry"> {{entry.recovered}} </td>
    <td mat-footer-cell *matFooterCellDef> {{worldStats.recovered}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  <tr mat-footer-row *matFooterRowDef="columnsToDisplay; sticky: true"></tr>
</table>