table {
  width: 80vw;
}

.mat-form-field {
  padding-top: 20px;
  font-size: 14px;
  width: 80vw;
}

tr.mat-footer-row {
  background-color: lightgray;
  font-weight: bold;
}

.deaths-today {
  font-weight: 600;
}

.country {
  display: flex;
  align-items: center;

  .country-flag {
    width: 20px;
  }
  .country-name {
    padding-left: 4px;
  }
}