# See http://help.github.com/ignore-files/ for more about ignoring files.

# system specific settings
.vscode

# virtual environments
.venv

# private information
api-keys.js

# ignore all the node_modules folders
node_modules/